body {
    background: #20262e;
    padding: 20px;
    font-family: Helvetica;
}

#banner-message {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    /*width: 300px;*/
}

#banner-message.alt {
    background: #d33030;
    color: #fff;
    margin-top: 40px;
}

#banner-message.alt button {
    background: #fff;
    color: #000;
}

h4 {
    color: #000;
}

#result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: auto;
    align-content: start;
    font-size: 15px;
    transition: all 0.2s;
}

#characters {
    border: dotted 0.1em black;
    margin: 0.1em;
    padding: 0.3em;
}

li {
    text-decoration: none;
}

#busqueda {
    width: 90em;
    height: 2em;
    border: solid 0.2em goldenrod;
}